{% extends 'baseWallet.html' %}

{% block title %}Obligacje skarbowe{% endblock %}

{% block titlePage %}Obligacje skarbowe{% endblock %}

{% block button %}<a href="{% url 'wallet:governmentBondAdd' %}" class="btn">Dodaj obligacje skarbową</a>{% endblock %}

{% block content %}
    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Type</th>
                <th>Purchase Date</th>
                <th>Maturity Date</th>
                <th>Face Value</th>
                <th>Quantity</th>
                <th>Interest Rate (%)</th>
                <th>Interest Type</th>
                <th>Redeemed?</th>
                <th>Notes</th>
            </tr>
        </thead>
        <tbody>
            {% for bond in all_bonds %}
            <tr>
                <td>{{ bond.name }}</td>
                <td>{{ bond.bond_type }}</td>
                <td>{{ bond.purchase_date }}</td>
                <td>{{ bond.maturity_date }}</td>
                <td>{{ bond.face_value }}</td>
                <td>{{ bond.quantity }}</td>
                <td>{{ bond.interest_rate }}</td>
                <td>{{ bond.interest_type }}</td>
                <td>{{ bond.is_redeemed|yesno:"Yes,No" }}</td>
                <td>{{ bond.notes }}</td>
            </tr>
            {% empty %}
            <tr>
                <td colspan="10">No bonds found.</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}