{% extends 'baseWallet.html' %}

{% block title %}Dodaj obligacje skarbowe{% endblock %}

{% block titlePage %}Dodaj obligacje skarbowe{% endblock %}

{% block content %}
{% load crispy_forms_tags %}
    <form method="post">
        {% csrf_token %}
        {{ form|crispy }}
        {{ formset.management_form }}

        {% for form in formset %}
            <div class="card mb-3">
                <div class="card-body">
                    {{ form|crispy }}
                </div>
            </div>
        {% endfor %}
        <button type="submit" class="btn btn-primary">Zapisz</button>
    </form>
{% endblock %}

{% block script %}
<script>
    const face_value_input = document.getElementById("id_face_value");
    const quantity_input = document.getElementById("id_quantity");

    face_value_input.addEventListener("input", function (event) {
        quantity_input.value = face_value_input.value / 100
    })

    quantity_input.addEventListener("input", function (event) {
        face_value_input.value = quantity_input.value * 100
    })
</script>
{% endblock %}