{% extends "baseAuthorization.html" %}

{% block title %}Logowanie{% endblock %}

{% block navbar %}
    <a href="/" class="button">Zarejestruj</a>
{% endblock %}

{% block content %}
<div class="container">
  <h2>Logowanie</h2>
  <form method="post">
    {% csrf_token %}
    
    <div class="form-group">
        {{ form.username.errors }}
        <label for="username">Nazwa użytkownika</label>
        {{ form.username }}
    </div>

    <div class="form-group">
        {{ form.password.errors }}
        <label for="password">Hasło</label>
        {{ form.password }}
    </div>

    <button type="submit" class="button">Zaloguj</button>
    
    <div class="forgot-password">
      <a href="{% url 'password_reset' %}" class="link">Nie pamiętasz hasła?</a>
    </div>
  </form>
</div>

{% endblock %}