{% extends "baseAuthorization.html" %}

{% block title %}Reset hasła{% endblock %}

{% block navbar %}
    <a href="{% url 'login' %}" class="button">Zaloguj</a>
    <a href="/" class="button">Zarejestruj</a>
{% endblock %}

{% block content %}
<div class="container">
  <h2>Zresetuj hasło</h2>
  <form method="post">
    {% csrf_token %}

    <div class="form-group">
      {{ form.email.errors }}
      <label for="username">Email</label>
      {{ form.email }}
  </div>

    <button type="submit" class="button">Zatwierdz</button>
  </form>
</div>

{% endblock %}