{% extends "baseAuthorization.html" %}

{% block title %}Zmiana hasła{% endblock %}

{% block content %}
<div class="container">
  <h2>Zmień hasło</h2>
  <form method="post">
    {% csrf_token %}
    
    <div class="form-group">
      {{ form.old_password.errors }}
      <label for="old_password">Stare hasło</label>
      {{ form.old_password }}
    </div>

    <div class="form-group">
        {{ form.new_password1.errors }}
        <label for="new_password1">Nowe hasło</label>
        {{ form.new_password1 }}
    </div>

    <div class="form-group">
        {{ form.new_password2.errors }}
        <label for="new_password2">Potwierdź nowe hasło</label>
        {{ form.new_password2 }}
    </div>

    <button type="submit" class="button">Zmień hasło</button>
  </form>
</div>
{% endblock %}